@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
<h1 class="display-4">Welcome</h1>
<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<div class="container-sm">
    <h1>This is a list of Courses</h1>
    <table class="table table-stripd tbale-bordered">
        <thead>
            <tr>
                <th class="th-sm" scope="col">Course Id</th>
                <th class="th-sm" scope="col">Course Name</th>
                <th class="th-sm" scope="col">Rating</th>
            </tr>
        </thead>

        <tbody>
            
             <tr>
                <th scope="row">demo</th>
                <td>.net core</td>
                <td>10</td>
            </tr>
  <tr>
                <th scope="row">demo</th>
                <td>.net core</td>
                <td>10</td>
            </tr>
  <tr>
                <th scope="row">demo</th>
                <td>.net core</td>
                <td>10</td>
            </tr>
  <tr>
                <th scope="row">demo</th>
                <td>.net core</td>
                <td>10</td>
            </tr>
  <tr>
                <th scope="row">demo</th>
                <td>.net core</td>
                <td>10</td>
            </tr>
  <tr>
                <th scope="row">demo</th>
                <td>.net core</td>
                <td>10</td>
            </tr>
  <tr>
                <th scope="row">demo</th>
                <td>.net core</td>
                <td>10</td>
            </tr>

        </tbody>

    </table>

</div>
